﻿@model RestaurantManagement.Presentation.Models.Item.CreateItemViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Item</h2>

@using (Html.BeginForm("create", "item", FormMethod.Post))
{
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label">Name</label>
            @Html.TextBoxFor(p => p.Item.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="control-label">Description</label>
            @Html.TextAreaFor(p => p.Item.Description, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="control-label">Price</label>
            @Html.TextBoxFor(p => p.Item.Price, new { @class = "form-control" })
        </div>
        <a class="btn btn-primary" href="/item/">Cancel</a> <button type="submit" class="btn btn-primary">Create</button>
    </form>
}