﻿@model RestaurantManagement.Presentation.Models.Item.ItemDetailViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item Details</h2>
<form class="form-horizontal">

    <div class="form-group">
        <label class="control-label">Name</label>
        @Html.DisplayFor(p => p.Item.Name)
    </div>
    <div class="form-group">
        <label class="control-label">Description</label>
        @Html.DisplayFor(p => p.Item.Description)
    </div>
    <div class="form-group">
        <label class="control-label">Price</label>
        @Html.DisplayFor(p => p.Item.Price)
    </div>
    @Html.ActionLink("Back", "") | @Html.ActionLink("Edit", "Edit", new { id = Model.Item.Id })
</form>
