﻿@model RestaurantManagement.Presentation.Models.Item.UpdateItemViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Item</h2>

@using (Html.BeginForm("edit", "item", FormMethod.Post))
{
<form class="form-horizontal">
    <div class="form-group">
        @Html.HiddenFor(p => p.Item.Id)
        <label class="control-label">Name</label>
        @Html.TextBoxFor(p => p.Item.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="control-label">Description</label>
        @Html.TextAreaFor(p => p.Item.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="control-label">Price</label>
        @Html.TextBoxFor(p => p.Item.Price, new { @class = "form-control" })
    </div>
    <a class="btn btn-primary" href="/item/">Cancel</a> <button type="submit" class="btn btn-primary">Update</button>
</form>
}