﻿@model RestaurantManagement.Presentation.Models.Table.ActivateTableViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Activate";
}


<h2>Activate Table</h2>

@using (Html.BeginForm("activate", "table", FormMethod.Post))
{
    <form class="form-horizontal">
        <div class="form-group">
            @Html.HiddenFor(p => p.Table.Id)
            @Html.HiddenFor(p => p.Table.TableState)
            <label class="control-label">Number of seats to be ocupied:</label>
            @Html.TextBoxFor(p => p.Table.NumberOfSeats, new { @class = "form-control" })
        </div>
        <a class="btn btn-primary" href="/table/">Cancel</a> <button type="submit" class="btn btn-primary">Activate</button>
    </form>
}


