﻿@model RestaurantManagement.Presentation.Models.Table.CreateTableViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Table</h2>

@using (Html.BeginForm("create", "table", FormMethod.Post))
{
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label">Number of seats</label>
            @Html.TextBoxFor(p => p.Table.NumberOfSeats, new { @class = "form-control" })
        </div>
        <a class="btn btn-primary" href="/table/">Cancel</a> <button type="submit" class="btn btn-primary">Create</button>
    </form>
}