﻿@model RestaurantManagement.Presentation.Models.Table.TableDetailViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Table Details</h2>
<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label">Id</label>
        @Html.DisplayFor(p => p.Table.Id)
    </div>
    <div class="form-group">
        <label class="control-label">Number of seats</label>
        @Html.DisplayFor(p => p.Table.NumberOfSeats)
    </div>
    <div class="form-group">
        <label class="control-label">State</label>
        @Html.DisplayFor(p => p.Table.TableState)
    </div>
    @Html.ActionLink("Back", "") | @Html.ActionLink("Edit", "Edit", new { id = Model.Table.Id })
</form>
